<!-- <header class="flex flex-col text-center w-[5rem] p-2 bg-greenl h-screen sticky top-0 z-[1]"> -->
    <a routerLink="" class="w-16 sm:w-full relative group/ic">
        <img class="w-full rounded-lg" src="assets/img/logo-cam.jpg" alt="logo">
        <div class="absolute sm:left-[90px] top-[80px] sm:top-0 border-4 border-purple text-purple font-bold transition-all group-hover/ic:block  scale-0 group-hover/ic:sm:scale-100 transition-all">
            <div class="absolute w-full h-full border-4 border-greenl left-[-15px] top-[15px] z-[0] scale-0 group-hover/ic:sm:scale-100 transition-all delay-100"></div>
            <p class="relative w-full bg-white h-full z-[1] p-2">{{'Home'}}</p>
        </div>
    </a>
    <hr *ngIf="login" class="mt-4 h-1 bg-whited">
    <app-link-header *ngIf="login" routerLink="users" [title]="'User'" [icon]="'fa fa-user-o'"></app-link-header>
    <app-link-header *ngIf="login" routerLink="images" [title]="'Pictures'" [icon]="'fa fa-picture-o'"></app-link-header>
    <app-link-header *ngIf="login" routerLink="images/upload-image" [title]="'Upload image'" [icon]="'fa fa-upload'"></app-link-header>
 <!--  </header> -->