<!-- <section class="flex flex-col items-end w-full my-4 mt-4"> -->
    <div class=" w-1/2 bg-greenl h-[1rem] border-4 border-greenl rounded-tl-2xl rounded-tr-lg"></div>
    <div  class="relative w-full bg-white mb-4 rounded-b-lg rounded-tl-3xl border-4 border-greenl text-center">
        <!-- <div class="absolute w-full h-[calc(100%+20px)] rounded-lg border-4 border-purple z-[-1] inset-x-[20px]"></div> -->
        <h2 class="p-2 text-xl font-semibold text-whited bg-purple border-greenl border-b-4 rounded-tl-2xl">{{title}}</h2>
        <ng-content></ng-content>
    </div>
<!-- </section> -->