<!-- <main class="w-[calc(100%-5rem)] flex content-start pb-6"> -->
    <div class="w-full px-2 sm:px-0 sm:w-3/4">
        <h1 class="p-2 w-full max-w-xl mx-auto border-b-4 border-b-purple border-r-greenl border-r-4 text-center mt-4 text-2xl text-purple">
            {{image?.title}}
        </h1>
        <section *ngIf="image" class="relative w-full max-w-xl my-4 p-5 mx-auto text-center bg-gray-100 bg-clip-content">
            <div class="absolute w-[calc(100%-1rem)] h-[calc(100%-1rem)] rounded-lg border-4 border-purple bottom-0 right-0"></div>
            <div class="absolute w-[calc(100%-1rem)] h-[calc(100%-1rem)] rounded-lg border-4 border-greenl top-0 left-0"></div>
            <img *ngIf="!image.local" [src]="'/assets/files/'+ image.filename + '.webp'"  class="max-w-full rounded-sm mx-auto">
        </section>
        <section class="relative w-full max-w-xl my-4 pb-5 pr-5 mx-auto text-center">
            <div class="absolute w-[calc(100%-1rem)] h-[calc(100%-1rem)] rounded-lg border-4 border-purple bottom-0 right-0 z-[-1]"></div>
            <div class="absolute w-[calc(100%-1rem)] h-[calc(100%-1rem)] rounded-lg border-4 border-greenl top-0 left-0 "></div>
            <div class="w-full rounded-sm bg-white p-5">
                <h2 class="text-greenl text-xl text-left">{{image?.description}}</h2>
            </div>
        </section>
        <section class="relative w-full max-w-xl my-4 pb-5 pr-4 mx-auto text-center ">
            <!-- <div class="absolute w-[calc(100%-1rem)] h-[calc(100%-1rem)] rounded-lg border-4 border-purple bottom-0 right-0 z-[-1]"></div> -->
            <div class="relative w-full rounded-lg border-4 border-greenl top-0 left-0 ">
                <div class="w-full rounded-sm bg-white p-5">
                    <h2 class="text-greenl text-xl border-b-4 border-greenl pb-2">Comments</h2>
                </div>
                <div *ngFor="let err of errors; let i = index" class="w-full px-3 pt-1 z-[99]">
                    <app-error [msg]="err" (close)="close(i)"></app-error>
                </div>
                <form [formGroup]="formUser" (ngSubmit)="submit()"  class="relative w-full p-5 bg-white border-greenl mb-0 flex items-start">
                    <!-- <input id="CSRFToken" type="hidden" name="CSRFToken" value="<%= token %>"> -->
                    <input type="hidden" name="image_id"><!--  value="<%= image._id %>" -->
                    <input type="hidden" name="filename"><!--  value="<%= image.filename %>" -->
                    <input type="hidden" name="fileext"><!--  value="<%= image.fileext %>" -->
                    <input type="hidden" name="image_user_id"><!--  value="<%= image.user_id %>" -->
                    <input formControlName="content" class="w-full border-b-4 border-greenl px-2 py-3 mb-3 outline-none focus:border-purple text-gray-500" autocomplete="off" type="text" name="content" id="content" placeholder="Add comment">
                    <button id="button-submit" type="submit" class="relative bg-white rounded-lg border-4 border-greenl px-3 py-2 font-semibold text-greenl ml-auto mr-0">send</button>
                    <!-- <button id="button-loading" type="submit" class="relative bg-white rounded-lg border-4 border-greenl px-3 py-2 font-semibold text-greenl ml-auto mr-0 flex hidden">
                        <svg aria-hidden="true" class="inline w-6 h-6 mr-2 text-purple animate-spin dark:text-purple fill-greenl" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                        </svg>
                        <span class="inline">loading</span>
                    </button> -->
                    <div id="block-form" class="absolute w-full h-full bg-transparent top-0 right-0 hidden"></div>
                </form>
                <app-comment #commentSection *ngIf="image" [image]="image"></app-comment>
            </div>
        </section>
    </div>
    <app-aside></app-aside>
<!-- </main> -->