<!-- <aside class="w-1/4 pr-4"> -->
    <app-file [title]="'Most comments'">
        <div class="relative w-full grid grid-cols-3  justify-start items-start gap-1  mb-3 p-2">
            <a *ngFor="let img of images" class="border-greenl border-b-4 border-r-4 border-r-purple" 
            [routerLink]="'/images/show-image/'+img?.id" >
                <img *ngIf="!img.local" [src]="'https://vittfiles-b5125.web.app/angular-social-network/files/'+img.filename+'-thumbnail.webp'" class="aspect-square w-full h-full object-cover">
                <img *ngIf="img.local" [src]="img.filename" class="aspect-square w-full h-full object-cover">
            </a>
        </div>
    </app-file>
    <app-file [title]="'Last comments'">
        <div class="animate-show relative w-full flex flex-col justify-start items-start gap-1  mb-3 p-2">
            <a *ngFor="let comm of comments" 
            class="animate-show-inv flex items-center w-full" 
            [routerLink]="'/images/show-image/'+comm.image_id">
                <img *ngIf="!comm.local" [src]="'https://vittfiles-b5125.web.app/angular-social-network/files/'+comm.filename+'-thumbnail.webp'" class="aspect-square object-cover w-1/4 border-greenl border-b-4 border-r-4 border-r-purple">
                <img *ngIf="comm.local" [src]="comm.filename" class="aspect-square object-cover w-1/4 border-greenl border-b-4 border-r-4 border-r-purple">
                <div class="w-3/4 px-1 text-start">
                    <p class="inline text-purple">{{comm.user}} :</p>
                    <p class="text-gray-500">{{comm.content}}</p>
                </div>
            </a>
        </div>
    </app-file>
<!-- </aside> -->
