<!-- <main class="flex flex-wrap w-[calc(100%-5rem)] content-start mx-auto px-10 pb-6"> -->
    <ng-container *ngFor="let err of errors; let i = index">
        <app-error [msg]="err" (close)="close(i)"></app-error>
    </ng-container>
    <div *ngIf="alert" class="flex justify-between w-full items-center rounded-lg border-4 border-purple text-purple px-8 py-2 my-2">
        <p class="font-semibold">{{alert}}</p>
        <button class="close bg-white px-2" title="close alert" (click)="alert = ''">
            <i class="fa fa-times-circle text-2xl" aria-hidden="true"></i>
        </button>
    </div>
    <section class="relative max-w-sm bg-white px-8 pt-5 mx-auto mt-4 rounded-lg border-8 border-greenl">
        <div class="absolute w-full h-full rounded-lg border-8 border-purple z-[-1]"></div>
        <h2 class="pb-6 text-xl font-semibold text-greenl">change your data</h2>
        <form [formGroup]="formUser" (ngSubmit)="submit()" id="form-post" class="pb-6">
            <!-- <input id="CSRFToken" type="hidden" name="CSRFToken" value="<%= token %>"> -->
            <input class="w-full border-b-4 border-greenl px-2 py-1 mb-3 outline-none focus:border-purple" type="text" formControlName="user_name" placeholder="User name">
            <input class="w-full border-b-4 border-greenl px-2 py-1 mb-3 outline-none focus:border-purple" type="email" formControlName="email" placeholder="Email">
            <div class="relative w-full">
                <div class="absolute w-full h-full rounded-lg border-4 border-purple inset-x-[10px] inset-y-[5px]"></div>
                <button type="submit" class="relative w-full bg-white rounded-lg border-4 border-greenl px-3 py-2 font-semibold text-greenl active:inset-x-[10px] active:inset-y-[5px]">{{'SignUp'}}</button>
            </div>
        </form>
    </section>
<!-- </main> -->