<!-- <main> -->
    <div class="w-full">
        <section *ngIf="!login" class="relative max-w-sm bg-white px-8 py-5 my-4 rounded-lg border-8 border-greenl mx-auto text-center">
            <div class="absolute w-full h-full rounded-lg border-8 border-purple z-[-1]"></div>
            <h2 class="pb-6 text-xl font-semibold text-greenl">{{'Loggin or register'}}</h2>
            <h3 class="pb-6 text-xl font-semibold text-purple">Use any fake email and password</h3>
            <div class="relative w-full mb-3">
                <div class="absolute w-full h-full rounded-lg border-4 border-purple inset-x-[10px] inset-y-[5px]"></div>
                <a class="relative w-full block bg-white rounded-lg border-4 border-greenl px-3 py-2 font-semibold text-greenl active:inset-x-[10px] active:inset-y-[5px]" routerLink="users/signin">{{'SignIn'}}</a>
            </div>
            <div class="relative w-full mb-3">
                <div class="absolute w-full h-full rounded-lg border-4 border-purple inset-x-[10px] inset-y-[5px]"></div>
                <a class="relative w-full block bg-white rounded-lg border-4 border-greenl px-3 py-2 font-semibold text-greenl active:inset-x-[10px] active:inset-y-[5px]" routerLink="users/signup">{{'SignUp'}}</a>
            </div>
        </section>
        <header *ngIf="login" class="w-full flex items-center flex-col p-4">
            <h1 class="text-3xl text-purple">Welcome {{user.user_name}}!!!</h1>
            <h2 class="text-2xl text-purple">What do you want to do?</h2>
        </header>
        <section *ngIf="login" class="w-full flex flex-wrap flex-col sm:flex-row items-center sm:justify-evenly">
            <article class="flex flex-col item-center w-[90%] sm:w-[46%]  lg:w-[30%] rounded-lg border-2 border-greenl py-4 px-2 mb-4">
                <h2 class="w-full text-center text-xl text-purple">Upload an image</h2>
                <div class="flex mx-auto">
                    <app-link-header routerLink="images/upload-image" [title]="'Upload image'" [icon]="'fa fa-upload'"></app-link-header>
                </div>
            </article>
            <article class="flex flex-col item-center w-[90%] sm:w-[46%]  lg:w-[30%] rounded-lg border-2 border-greenl py-4 px-2 mb-4">
                <h2 class="w-full text-center text-xl text-purple">Watch all images</h2>
                <div class="flex mx-auto">
                    <app-link-header  routerLink="images" [title]="'Pictures'" [icon]="'fa fa-picture-o'"></app-link-header>
                </div>
            </article>
            <article class="flex flex-col item-center w-[90%] sm:w-[46%]  lg:w-[30%] rounded-lg border-2 border-greenl py-4 px-2 mb-4">
                <h2 class="w-full text-center text-xl text-purple">Configuration</h2>
                <div class="flex mx-auto">
                    <app-link-header routerLink="users" [title]="'User'" [icon]="'fa fa-user-o'"></app-link-header>
                </div>
            </article>
            <article class="flex flex-col item-center w-[90%] sm:w-[46%]  lg:w-[30%] rounded-lg border-2 border-greenl py-4 px-2 mb-4">
                <h2 class="w-full text-center text-xl text-purple">Close session</h2>
                <div class="flex mx-auto">
                    <app-link-header (click)="closeSession()" [title]="'Exit'" [icon]="'fa fa-sign-out'"></app-link-header>
                </div>
            </article>
            <!-- <article class="relative  bg-white mx-auto mt-4 rounded-b-lg rounded-t-3xl border-4 border-greenl">
                <div class="absolute w-full h-full rounded-t-3xl rounded-b-lg border-4 border-purple inset-x-[15px] inset-y-[15px] z-[-1]"></div>
                <h2 class="p-2 text-xl font-semibold text-whited bg-purple border-greenl border-b-4 rounded-t-2xl">Title 1</h2>
                <img src="user1.jpg" class="w-full  border-greenl border-b-4">
                <p class="text-sm text-grey-600 p-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </article> -->
        </section>
    </div>
<!-- </main> -->
