<!-- <main> -->
    <div class="w-full">
        <section class="relative max-w-sm bg-white px-8 py-5 my-4 rounded-lg border-8 border-greenl mx-auto text-center">
            <div class="absolute w-full h-full rounded-lg border-8 border-purple z-[-1]"></div>
            <h2 class="pb-6 text-xl font-semibold text-greenl">{{'Loggin or register'}}</h2>
            <div class="relative w-full mb-3">
                <div class="absolute w-full h-full rounded-lg border-4 border-purple inset-x-[10px] inset-y-[5px]"></div>
                <a class="relative w-full block bg-white rounded-lg border-4 border-greenl px-3 py-2 font-semibold text-greenl active:inset-x-[10px] active:inset-y-[5px]" routerLink="users/signin">{{'SignIn'}}</a>
            </div>
            <div class="relative w-full mb-3">
                <div class="absolute w-full h-full rounded-lg border-4 border-purple inset-x-[10px] inset-y-[5px]"></div>
                <a class="relative w-full block bg-white rounded-lg border-4 border-greenl px-3 py-2 font-semibold text-greenl active:inset-x-[10px] active:inset-y-[5px]" routerLink="users/signup">{{'SignUp'}}</a>
            </div>
            <div class="relative w-full">
                <div class="absolute w-full h-full rounded-lg border-4 border-purple inset-x-[10px] inset-y-[5px]"></div>
                <a class="relative w-full block bg-white rounded-lg border-4 border-greenl px-3 py-2 font-semibold text-greenl active:inset-x-[10px] active:inset-y-[5px]" href="/users/google-auth">{{'Sign In with Google'}}</a>
            </div>
        </section>
        <section class="w-full grid grid-cols-4 flow-a justify-start items-start gap-4 px-4">
            <!-- <article class="relative  bg-white mx-auto mt-4 rounded-b-lg rounded-t-3xl border-4 border-greenl">
                <div class="absolute w-full h-full rounded-t-3xl rounded-b-lg border-4 border-purple inset-x-[15px] inset-y-[15px] z-[-1]"></div>
                <h2 class="p-2 text-xl font-semibold text-whited bg-purple border-greenl border-b-4 rounded-t-2xl">Title 1</h2>
                <img src="user1.jpg" class="w-full  border-greenl border-b-4">
                <p class="text-sm text-grey-600 p-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </article> -->
        </section>
    </div>
<!-- </main> -->
